.section__custom__auth__admin {
    height: 100%;
}

.section__auth__for__admin {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-size: cover;
    background-image: url('/image/bgAR.png');
}

.block__for__form__section__auth__for__admin {
    width: 30%;
    background: #151515;
}

.content__for__block__for__form__section__auth__for__admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__section__auth__for__admin {
    width: 300px;
    height: 330px;
    display: flex;
    flex-direction: column;
    margin-top: 325px;
}

.block__for__input__form__section__auth__for__admin {
    display: flex;
    flex-direction: column;
}

.custom__input__form__section__auth__for__admin {
    background: linear-gradient(#151515, #151515) padding-box,
    linear-gradient(128.73deg, #8FB5FE 15.24%, #FF1940 62.7%, #FFB56A 110.34%) border-box;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    color: #D0D0D0;
    width: 300px;
    margin-top: 5px;
}

.custom__input__form__section__auth__for__admin:hover {
    background: linear-gradient(#000000, #000000) padding-box,
    linear-gradient(128.73deg, #8FB5FE 15.24%, #FF1940 62.7%, #FFB56A 110.34%) border-box;
}

.btn__form__section__auth__for__admin {
    margin-top: 45px;
    color: #D0D0D0;
    text-decoration: none;
    background-size: 150%;
    border-radius: 5px;
    padding: 10px 33px;
    background: linear-gradient(#151515, #151515) padding-box,
    linear-gradient(270deg, rgb(255, 181, 106), rgb(255, 25, 64), rgb(143, 181, 254), rgb(255, 181, 106)) border-box;
    font-weight: 500;
    border: 1px solid transparent;
}

.btn__form__section__auth__for__admin:hover {
    animation: animateBtn 5s linear infinite;
    color: #D0D0D0;
    background-size: 150%;
}

.alert__danger__custom__for__auth__for__admin {
    background: rgba(207, 0, 15, 0.5);
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 20px 0 0 0;
}



